<div class="container">
  <h5>Comments</h5>
  <p>Aquí podrás ver el listado de los comentarios realizados:</p>
  <table class="table table-s">
    <thead class="thead-dark;" style="background-color: #DAF7A6;">
      <tr>
        <th>Description</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% commentable.comments.each do |comment| %>
      <tr>
        <td><%= comment.description %></td>
        <td><%= comment.user.email %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
