<div class="container">
  <h2>Comments</h2>
  <p>Aquí podrás ver el listado de los comentarios realizados:</p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Description</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% commentable.comments.each do |comment| %>
      <tr>
        <td><%= comment.description %></td>
        <td><%= comment.user.email %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
