<%= form_for [@question, @question.answers.new] do |f| %>	
	<p>
		<%= f.label :description %> :<br>
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.submit "Save Answers", class: "btn btn-primary" %>
	</p>

<% end %>