<div class="container">
  <h2>Answers</h2>
  <p>Aquí podrás ver el listado de las respuestas realizadas:</p>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Votos</th>
        <th>Description</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    <% @question.answers.each do |answer| %>
      <tr>
        <td>Votos</td>
        <td><%= answer.description %></td>
        <td><%= answer.user.email %></td>
      </tr>
      <%= render '/comments/index', commentable: answer %>
      <%= render '/comments/form', commentable: answer %>
    <% end %>
    </tbody>
  </table>
</div>


